---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-pro-bounds-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -misc-include-cleaner,
  -cppcoreguidelines-init-variables,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-no-malloc,
  -performance-no-int-to-ptr,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -modernize-use-std-numbers,
  -readability-avoid-nested-conditional-operator,
  -modernize-return-braced-init-list,
  -misc-const-correctness

WarningsAsErrors: ''
HeaderFilterRegex: 'engine/.*|tests/.*'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
...
